<h1>All Items</h1>

<ul id="items">
  <% @items.each do |item| %>
    <li>
    <%= link_to item.title, item_path(item), class: 'item_title' %>
    </li>
  <% end %>
</ul>
<%= link_to "Create a New Item", new_item_path, class: "new_item" %>
