/* .appointmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointmentcontent {
  width: 70%;
}

.booksection {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2em;
}

.models {
  border-radius: 5px;
  padding: 5px 10px;
}

.locations {
  border-radius: 5px;
  padding: 5px 10px;
}

.appbutton {
  border-radius: 5px;
  padding: 5px 10px;
} */
