/* .carviewContainer {
  display: flex;
}

.carveiw {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.carim img {
  width: 100%;
  padding-top: 30vh;
  margin: auto;
  padding-left: 1em;
}

.loading {
  text-align: center;
  margin: auto;
  padding: 20em 0 0 15em;
}

.cardetails {
  padding-top: 30vh;
  padding-left: 10vw;
  background-color: green;
}

.carname {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.total {
  font-size: 10px;
}

.payable {
  font-size: 10px;
  font-weight: bold;
} */