.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 15%; */
  height: 100vh;
}

.logoo {
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 13px;
  text-decoration: underline;
  font-style: italic;
  transform: rotate(-25deg);
  height: 30vh;
  padding: 1em 0 0 1em;
  width: 100%;
}

.descriptionContainer {
  width: 100%;
  margin: 0 4em;
  padding-top: 1em;
}

.descriptionContainer h1 {
  font-size: 20px;
}

.descriptionContainer h2 {
  font-size: 13px;
  color: gray;
  font: italic;
}

.descriptionContainer p {
  font-size: 14px;
}

.descriptionContainer a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 15px;
  padding: 0.3em;
  width: 100%;
  color: black;
}

.descriptionContainer a:hover {
  color: white;
}
