.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  border-right: 1px solid rgb(231, 224, 224);
  padding-right: 0.5em;
}

.logoo {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 13px;
  text-decoration: underline;
  font-style: italic;
  transform: rotate(-25deg);
  height: 30vh;
  padding: 1em 0 0 0.3em;
  width: 100%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.descriptionContainer h1 {
  font-size: 20px;
  padding-top: 2em;
  font-family: "Roboto", sans-serif;
}

.descriptionContainer h2 {
  font-size: 13px;
  color: gray;
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
}

.dots {
  font-size: 20px;
  color: rgb(209, 209, 209);
}
