@media only screen and (max-width: 690px) {
  .itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .itemsImg {
    height: auto;
    width: 140px;
  }
}

@media only screen and (min-width: 690px) {
  .itemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .itemsImg {
    height: auto;
    width: 140px;
  }
}

.teslanames {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.utopian-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftbutton {
  border-left: none;
  padding: 10px 20px 10px 10px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(183, 183, 255);
  border: none;
  color: white;
  margin: 20px 20px 20px 0;
}

.rightbutton {
  border-right: none;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: rgb(142, 255, 142);
  color: white;
  margin: 20px 0 20px 20px;
}

.leftbutton:hover,
.rightbutton:hover {
  outline: none;
}

.itemdescrption {
  font-size: 12px;
  padding: 3px;
  color: gray;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.itemContainer {
  position: relative;
}

.backgroundc {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 15%;
  z-index: -1;
}
