 .itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

 .itemsImg {
  padding: 0.5em;
  height: auto;
  margin: 0.5em;
  width: 100px;
} 

.teslanames {
  text-transform: uppercase;
  font-weight: bold;
}

.utopian-items {
  background-color: red;
}

.leftbutton {
  
}