 .itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

 .itemsImg {
  padding: 0.5em;
  height: auto;
  margin: 0.5em;
  width: 100px;
} 

.teslanames {
  text-transform: uppercase;
  font-weight: bold;
}

.utopian-items {
  background-color: red;
}

.leftbutton {
  border-left: none;
  padding: 10px 20px 10px 10px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(183, 183, 255);
  border: none;
  color: white;
  margin: 20px 20px 20px 0;
}

.rightbutton {
  border-right: none;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: rgb(142, 255, 142);
  color: white;
  margin: 20px 0 20px 20px;
}

.leftbutton:hover, .rightbutton:hover {
  outline: none;
}