.nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 690px) {
  .lii {
    text-align: start;
    text-decoration: none;
    font-weight: bold;
  }
  
}

@media only screen and (min-width: 690px) {
}
.lii {
  text-align: start;
  font-size: 1em;
  padding: 0.5em 0 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
}


