.shopcars {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  grid-gap: 10px;
}

.shopitems {
}

.shopname {
}

.shopmodel {
}

.shopprice {
}
.shopreview {
}
