.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100vh;
}

.descriptionContainer {
  margin: 0 4em;
}