.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.each-slide span {
  padding: 20px;
  font-size: 3em;
  background: NONE;
  text-align: center;
  color: white;
}