.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.each-slide span {
  padding: 20px;
  font-size: 2.5em;
  background: NONE;
  text-align: center;
  color: black;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}
