.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.itemsImg {
  background-color: blue;
  padding: 1em;
  height: auto;
  margin: 1em;
  width: 100px;
  border-radius: 50%;
}