.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.itemsImg {
  background-color: blue;
  padding: 0.5em;
  height: auto;
  margin: 0.5em;
  width: 90px;
  /* border-radius: 50%; */
}