.welcomeBack h1 {
  font-size: 18px;
  padding-top: 2em;
}

.welcomeBack p {
  padding: 1em;
  margin: 1em;
  font-style: 15px;
}

.createAccount h1 {
  font-size: 18px;
  padding-top: 1em;
}

.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.regForm input {
  margin-bottom: 1.5em;
  height: 23px;
  width: 80%;
  margin: 10px 1em;
}

.formContainer {
  width: 100%;
}

.regForm button {
  margin: 1.2em 0;
}

.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginpage input {
  margin: 1em 0;
  height: 20px;
  width: 80%;
}